<div class="container-fluid" ng-cloak="" ng-controller="OrderController">
    <!--
    here OrderController starts VIEW = {{$ctrl.view}} id {{$ctrl.id}}
    <br>parseit($ctrl.dataarray['Users'], $ctrl.id)
    <br>parseit($ctrl.dataarray['Users'], {{$ctrl.id}})
    <br>{{parseit($ctrl.dataarray['Users'], $ctrl.id)}}
-->

    <div ng-if="$ctrl.view == 'board'">
        <ng-include src="'dash-board/request.template.html'"></ng-include>
    </div>
    <div ng-if="$ctrl.view == 'form'">
        <div class="mtb100">
            <div class="mtb100" ng-if="$ctrl.mode=='u'">
                <div class="datablocks" ng-if="userdata = parseit($ctrl.dataarray['Users'], $ctrl.id)">
                    <ng-include src="'form-desk/userform.html'" ng-init="setnew = 0"></ng-include>
                </div>
                <div class="head23" ng-if="!userdata">
                    <h2 class="error">New user</h2>
                    <ng-include src="'form-desk/userform.html'" ng-init="setnew = 1 ; userdata.Id = nextid; userdata.Roles=[]"></ng-include>
                    <button class="button_tooltip" ng-click="returntodash()">Return</button>
                </div>
            </div>
            <div class="mtb100" ng-if="$ctrl.mode=='r'">
                <div class="datablocks" ng-if="editrequest = parseit($ctrl.dataarray['Requests'], $ctrl.id)">
                    <ng-include src="'form-desk/requestform.html'" ng-init="setnew = 0"></ng-include>
                </div>
                <div class="head23" ng-if="!editrequest">
                    <h2 class="error">New request {{nextid}}</h2>
                    <ng-include src="'form-desk/requestform.html'" ng-init="setnew = 1 ; editrequest.Id = nextid ; editrequest.Deadline='27-Sep-20'"></ng-include>
                    <button class="button_tooltip" ng-click="returntodash()">Return</button>
                </div>
            </div>
            <div class="mtb50" ng-if="($ctrl.mode != 'r') && ($ctrl.mode != 'u')">
                <div class="head23">
                    <h2 class="error">Bad request</h2>
                    <button class="button_tooltip" ng-click="returntodash()">Return</button>
                </div>
            </div>
        </div>
    </div>
</div>